<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ frontmatter.title }} | Darío Macchi</title>
    <style>
      
      {{> _critical-css }}

      .me-effect {
        border: 2px solid #fff;
        -moz-box-shadow: 10px 10px 5px #ccc;
        -webkit-box-shadow: 10px 10px 5px #ccc;
        box-shadow: 2px 2px 7px #ccc;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        border-radius: 25px;
      }
    </style>

    <meta name="google-site-verification" content="46a7V_NIglu9MvjEX4267RGvXUGqYaic6LPWM6eQ824" />

    {{> _common-html-header }}

    {{#if frontmatter.jsonld}}
      <script type="application/ld+json">
        {{{json frontmatter.jsonld}}}
      </script>
    {{/if}}
  </head>
  <body>
    <div class="board_view details">
      {{> _page-header }}
      <main class="dm-main-content is-fixed">
        <div class="dm-tab-filter-wrapper">
          <div class="dm-tab-filter">
            <ul class="dm-filters d-block d-md-none">
              <li class="placeholder">
                <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
              </li>
              {{> _mobile-menu }}
              <li class="filter"><a href="/essays">Essays</a></li>
            </ul> <!-- dm-filters -->
          </div> <!-- dm-tab-filter -->

          <div class="container-fluid float-left"></div>
        </div> <!-- dm-tab-filter-wrapper -->

        <div class="container-fluid dm-board">
          <article>
            <div class="row splitter">
              <div class="col-md-12 text-center">Details</div>
            </div>
            <div class="row featured">
              <div class="col-md-12">
                <header>
                  <h1>{{ frontmatter.title }}</h1>
                </header>
                
                {{#if content.short_description}}
                  <section class="short_description">
                    <p>
                      {{{ content.short_description }}}
                    </p>
                  </section>
                {{/if}}
                
                {{#if content.content}}
                  <section class="content">
                    <p style="text-align: center; width: 100%;">
                      <img src="/assets/aboutme-me.jpg#center" alt="My photograph" class="me-effect">
                    </p>
                    <p>
                      <strong>Full name: </strong><span itemprop="name">Darío </span><span itemprop="additionalName">Alejandro </span><span itemprop="familyName">Macchi </span><span itemprop="familyName">Heins</span><br>
                      <strong>Date of birth: </strong><a itemprop="birthDate" href="https://www.dariomac.com/what-happened-on-august-12--1981">1981-08-12</a><br>
                      <strong> Place of birth: </strong><a itemtype="http://schema.org/City" itemscope="itemscope" href="https://www.google.com/maps/place/Paysand%C3%BA+Department/@-32.019234,-58.3383898,8z/data=!3m1!4b1!4m5!3m4!1s0x95af1e38984225e1:0xd350bbef2c708fbb!8m2!3d-32.0667366!4d-57.3364789?hl=en" target="_blank"><span itemprop="name">Paysandú</span></a>, <a itemprop="nationality" itemtype="http://schema.org/Country" itemscope="itemscope" href="https://www.google.com/maps/place/Uruguay/@-32.6005596,-58.0283107,7z/data=!3m1!4b1!4m5!3m4!1s0x9575073afb5fde09:0x4a5596616016524a!8m2!3d-32.522779!4d-55.765835?hl=en" target="_blank"> <span itemprop="name">Uruguay</span></a><br>
                      <strong>Nationality: </strong>Uruguayan
                    </p>

                    {{{ highlighter content.content }}}

                    <p style="text-align: justify;">
                      I think that curriculum vitae (CV) or resume must be something alive more than a static document that looks as a biography.
                    </p>
                    <p style="text-align: justify;">
                      For these reason I decide to make my own resume in a way that I called
                      <a href="https://www.dariomac.com/kanbancv">KanbanCV</a>. Here I introduce myself, write about experiences, education, other activities, just as in a regular resume but with additional information.
                    </p>
                  </section>
                {{/if}}

                {{> _entry-gallery }}
                {{> _entry-attachments }}
                {{> _entry-related-topics }}
              </div>
            </div>
            {{> _entry-backlinks }}
          </article>
        </div> <!-- container-fluid dm-board -->

        <a href="/" class="logo">
          <img style="float:left;" width="50" height="50" src="/assets/images/d.png" alt="Orange D inside a circle">
        </a>
        {{> _orange-box }}
        {{!-- <a href="#0" class="dm-filter-trigger"></a> --}}
      </main> <!-- dm-main-content -->
    </div>
    <!--</div>-->

    {{> _page-footer }}
    {{> _common-html-footer }}
  </body>
</html>
