<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ fullTitle frontmatter.title }}</title>
    <style>
      
      {{> _critical-css }}

    </style>

    <meta name="google-site-verification" content="46a7V_NIglu9MvjEX4267RGvXUGqYaic6LPWM6eQ824" />

    {{> _common-html-header }}

    <script type="application/ld+json">
      {{#if (hasJsonLd frontmatter.jsonld) }}
        {{{json frontmatter.jsonld}}}
      {{else}}
        {
          "@context": "http://schema.org", 
          "@type": "Article",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "https://dariomac.com/{{frontmatter.slug}}"
          },
          "headline": "{{{frontmatter.title}}}",
          {{#if content.related_images}}
          "image": [{{#forEach content.related_images}}"https://dariomac.com/assets/{{filename}}"{{#unless isLast~}}, {{/unless}}{{/forEach}}],
          {{/if}}
          "url": "https://dariomac.com/{{frontmatter.slug}}",
          "datePublished": "{{frontmatter.date}}",
          "dateCreated": "{{frontmatter.date}}",
          "abstract": "{{{content.summary}}}",
          "author": {
            "@id": "https://dariomac.com/me"
          },
          "publisher": {
            "@id": "https://dariomac.com/software-engineering-advisor-consultant"
          }
        } 
      {{/if}}
    </script>
  </head>
  <body>
    <div class="board_view details">
      {{> _page-header }}
      <main class="dm-main-content is-fixed">
        <div class="dm-tab-filter-wrapper">
          <div class="dm-tab-filter">
            <ul class="dm-filters d-block d-md-none">
              <li class="placeholder">
                <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
              </li>
              {{> _mobile-menu }}
            </ul> <!-- dm-filters -->
          </div> <!-- dm-tab-filter -->

          <div class="container-fluid float-left"></div>
        </div> <!-- dm-tab-filter-wrapper -->

        <div class="container-fluid dm-board">
          <article>
            <div class="row splitter">
              <div class="col-md-12 text-center">Details</div>
            </div>
            <div class="row featured">
              <div class="col-md-12">
                <header>
                  <h1>{{ frontmatter.title }}</h1>
                  <p>by {{ content.authors }}</p>
                  <p>{{ content.publication_metadata }}</p>
                </header>
                
                {{#if content.summary}}
                  <section class="summary">
                    <p>
                      {{{ content.summary }}}
                    </p>
                  </section>
                {{/if}}
                
                {{#if content.abstract}}
                  <div class="row splitter">
                    <div class="col-md-12 text-center">Abstract</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <section class="content">
                        {{{ content.abstract }}}
                      </section>
                    </div>
                  </div>
                {{/if}}

                {{#if content.more_info}}
                  <div class="row splitter">
                    <div class="col-md-12 text-center">Additional information</div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <section class="content">
                        {{{ content.more_info }}}
                      </section>
                    </div>
                  </div>
                {{/if}}

                {{> _entry-gallery }}
                {{> _entry-attachments }}
                {{> _entry-related-topics }}
              </div>
            </div>
            {{#if content.projects}}
              <div class="row splitter">
                <div class="col-md-12 text-center">Projects/Activities</div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <section class="projects">
                    {{{ content.projects }}}
                  </section>
                </div>
              </div>
            {{/if}}
            {{> _entry-backlinks }}
          </article>
        </div> <!-- container-fluid dm-board -->

        <a href="/" class="logo">
          <img style="float:left;" width="50" height="50" src="/assets/images/d.png" alt="Orange D inside a circle">
        </a>
        {{> _orange-box }}
        {{!-- <a href="#0" class="dm-filter-trigger"></a> --}}
      </main> <!-- dm-main-content -->
    </div>
    <!--</div>-->

    {{> _page-footer }}

    {{#if frontmatter.has_code}}
      {{> _code-styler }}
    {{/if}}

    {{> _common-html-footer }}
  </body>
</html>
