<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ frontmatter.title }} | Darío Macchi</title>
    <style>
      
      <!--#include virtual="../common/_critical.css" -->

      .essay {
        margin-left: inherit;
        border: 0px !important;
      }

      .details .container-fluid.dm-board h2 {
        font-size: 20px;
        margin-bottom: 2px;
        font-weight: bold;
        padding-top: 8px;
      }

      .details .container-fluid.dm-board h3 {
        font-weight: bold;
        text-decoration: inherit;
      }

      article .essay h3 {
        font-weight: bold !important;
        text-decoration: inherit !important;
      }

      article .essay li {
        font-size: 14px;
      }

    </style>

    <meta name="google-site-verification" content="46a7V_NIglu9MvjEX4267RGvXUGqYaic6LPWM6eQ824" />

    <!--#include virtual="../common/_18common_html_header.html" -->

    {{#if frontmatter.jsonld}}
      <script type="application/ld+json">
        {{{json frontmatter.jsonld}}}
      </script>
    {{/if}}
  </head>
  <body>
    <div class="board_view details">
      <!--#include virtual="../common/_18page_header.html" -->
      <main class="dm-main-content is-fixed">
        <div class="dm-tab-filter-wrapper">
          <div class="dm-tab-filter">
            <ul class="dm-filters d-block d-md-none">
              <li class="placeholder">
                <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
              </li>
              <!--#include virtual="../common/_mobile-menu.html" -->
            </ul> <!-- dm-filters -->
          </div> <!-- dm-tab-filter -->

          <div class="container-fluid float-left"></div>
        </div> <!-- dm-tab-filter-wrapper -->

        <div class="container-fluid dm-board essay">
          <article>
            <div class="row featured">
              <div class="col-md-12">
                <header>
                  <h1>{{ frontmatter.title }}</h1>
                  <p class="date">{{ content.pub_date }}</p>
                </header>

                {{#if content.bodyurl}}
                <section>
                  <p style="border: 1px solid #ccc; padding: 3px 8px;">
                    <i>
                      Please note that these are field notes organized in a common structure that I use for students, university classes and industrial activities. They can sometimes be dirty, with errors and more important, in some cases without the correct references. If you find your work (or part of it) here without correct recognition, <a href="/contact-me"><b>please let me know</b></a> so I can fix it as soon as possible.
                    </i>
                  </p>
                </section>
                {{/if}}
                
                <section class="description">
                  <p>
                    {{ content.short_description }}
                  </p>
                </section>

                <section>
                  {{#if content.body }}
                    {{{ content.body }}}
                  {{else}}
                    <script>
                      function get_information(link, callback) {
                        var xhr = new XMLHttpRequest();
                        xhr.open("GET", link, true);
                        xhr.onreadystatechange = function() {
                          if (xhr.readyState === 4) {
                            callback(xhr.responseText);
                          }
                        };
                        xhr.send(null);
                      }

                      get_information(
                        "{{{ content.bodyurl }}}",
                        function(text) {
                          var div = document.getElementById('gdoc');
                          div.innerHTML = text;
                          
                          // Remove css that comes with Google Doc embeds
                          // If you want the Google Doc styling, comment these out
                          div.removeChild(div.childNodes[1]);
                          div.removeChild(div.childNodes[0]);
                          div.querySelector('h1').remove();
                        }
                      );
                    </script>
                    <div id="gdoc"></div>
                  {{/if}}
                </section>

                {{#if content.acknowledgments}}
                  <section>
                    <h2 id="Acknowledgments">Acknowledgments</h2>
                      {{{ content.acknowledgments }}}
                  </section>
                {{/if}}
                {{#if content.further_reading}}
                  <section>
                    <h2 id="FurtherReading">Further Reading</h2>
                    {{{ content.further_reading }}}
                  </section>
                {{/if}}
                {{#if content.significant_revisions}}
                  <section>
                    <h2>Significant Revisions</h2>
                    {{{ content.significant_revisions }}}
                  </section>
                {{/if}}

                <!--#include virtual="../common/_entry-gallery.html" -->
                <!--#include virtual="../common/_entry-attachments.html" -->
                <!--#include virtual="../common/_entry-related-topics.html" -->
              </div>
            </div>
        </div> <!-- container-fluid dm-board -->

        <a href="/" class="logo">
          <img style="float:left;" width="50" height="50" src="/assets/images/d.png" alt="Orange D inside a circle">
        </a>
        <!--#include virtual="../common/_orange-box.html" -->
        {{!-- <a href="#0" class="dm-filter-trigger"></a> --}}
      </main> <!-- dm-main-content -->
    </div>
    <!--</div>-->

    <!--#include virtual="../common/_page_footer.html" -->

    {{#if frontmatter.has_code}}
      <!--#include virtual="../common/_code-styler.html" -->
    {{/if}}

    <script src="/assets/vendor/jquery.fancybox/jquery.fancybox.pack.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>    
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    <script src="/assets/js/main.js"></script> <!-- Resource jQuery -->
    <script>
      $(".fancybox").fancybox({
        openEffect  : 'none',
        closeEffect : 'none'
      });
    </script>
  </body>
</html>
