<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Darío Macchi personal website</title>
    <style>
      
      <!--#include virtual="../common/_critical.css" -->

    </style>

    <meta name="google-site-verification" content="46a7V_NIglu9MvjEX4267RGvXUGqYaic6LPWM6eQ824" />

    <!--#include virtual="../common/_18common_html_header.html" -->

    {{#if content.ldjson}}
      <script type="application/ld+json">
        {{{json content.ldjson}}}
      </script>
    {{/if}}
  </head>
  <body>
    <div class="board_view details">
      <!--#include virtual="../common/_18page_header.html" -->
      <main class="dm-main-content is-fixed">
        <div class="dm-tab-filter-wrapper">
          <div class="dm-tab-filter">
            <ul class="dm-filters d-block d-md-none">
              <li class="placeholder">
                <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
              </li>
              <!--#include virtual="../common/_mobile-menu.html" -->
            </ul> <!-- dm-filters -->
          </div> <!-- dm-tab-filter -->

          <div class="container-fluid float-left"></div>
        </div> <!-- dm-tab-filter-wrapper -->

        <div class="container-fluid dm-board">
          <article>
            <div class="row splitter">
              <div class="col-md-12 text-center">Details</div>
            </div>
            <div class="row featured">
              <div class="col-md-12">
                <header>
                  <h1>{{ frontmatter.title }}</h1>
                  <p class="duration">{{ content.duration }}</p>
                  <p><a href="{{ content.place_url }}">{{ content.place }}</a></p>
                </header>
                
                {{#if content.summary}}
                  <section class="summary">
                    <p>
                      {{{ content.summary }}}
                    </p>
                  </section>
                {{/if}}
                
                {{#if content.content}}
                  <section class="content">
                    {{{ content.content }}}
                  </section>
                {{/if}}

                <!--#include virtual="../common/_entry-gallery.html" -->
                <!--#include virtual="../common/_entry-attachments.html" -->
              </div>
            </div>
            {{#if content.projects}}
              <div class="row splitter">
                <div class="col-md-12 text-center">Projects/Activities</div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <section class="projects">
                    {{{ content.projects }}}
                  </section>
                </div>
              </div>
            {{/if}}
          </article>
        </div> <!-- container-fluid dm-board -->

        <a href="/" class="logo">
          <img style="float:left;" width="50" height="50" src="/assets/images/d.png" alt="Orange D inside a circle">
        </a>
        <div class="submenu" style="position: fixed; top: 0; right: 0; z-index: 10;">
          <div class="orange_box">
            <a class="url" href="/about-me">
                <div class="username">
                    Darío Macchi
                </div>
            </a>
            <ul>
              <li id="geo">
                <a target="_blank" href="http://maps.google.com/maps?q=montevideo+city+uruguay&amp;hl=en&amp;sll=-32.522779,-55.765835&amp;sspn=5.325828,9.876709&amp;t=v&amp;hnear=Montevideo,+Montevideo+Dept,+Uruguay&amp;z=11" itemprop="url">
                    Montevideo
                </a><span>-</span>
                <a href="https://www.google.com.uy/maps/preview?q=google+maps+uruguay&amp;ie=UTF-8&amp;hq=&amp;hnear=0x9575073afb5fde09:0x4a5596616016524a,Uruguay&amp;gl=uy&amp;ei=KiKjU6fpE-HNsQSlqYGoCg&amp;ved=0CBsQ8gEwAA" itemprop="url">
                  Uruguay
                </a>
              </li>
            </ul>
            <ul>
              <li id="common_cv"><strong><a href="/kanbancv" style="color:#FFF">What is this?</a></strong></li>
            </ul>
          </div>
        </div>
        {{!-- <a href="#0" class="dm-filter-trigger"></a> --}}
      </main> <!-- dm-main-content -->
    </div>
    <!--</div>-->

    <!--#include virtual="../common/_page_footer.html" -->

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/assets/vendor/jquery.fancybox/jquery.fancybox.pack.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>

    <script src="/assets/js/main.js"></script> <!-- Resource jQuery -->
    <script>
      $(".fancybox").fancybox({
        openEffect  : 'none',
        closeEffect : 'none'
      });
    </script>
  </body>
</html>
