<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <meta charset="UTF-8">
    <title><!--#include virtual="../common/_title.html" --></title>

    <!--#include virtual="../common/_common_html_header.html" -->

    <script type="text/javascript" src="/assets/vendor/jquery.fancybox/jquery.fancybox.pack.js"></script>
    <script type="text/javascript" src="/assets/js/kanbancv.js"></script>

    <script type="text/javascript">
      $(function() {
        //board_dimensions.init(); //draw_kanban_board(boardArray, false, tasksArray, false);
        afterContentDraw();

        $(".fancybox").fancybox({
          openEffect  : 'none',
          closeEffect : 'none'
        });
      });
    </script>

  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div class="wrapper">
      <div class="header">
        <div class="center"></div>
      </div>
      <div class="board_view">
        <!--#include virtual="../common/_page_header.html" -->
        <div id="board_container">
          <div class="content entry">
            <div itemprop="mainContentOfPage" itemscope itemtype="http://schema.org/SoftwareApplication">
              <table cellspacing="0" cellpadding="0">
                <tbody>
                  <tr>
                    <td class="swimlane_inner">
                      <strong>Details</strong>
                    </td>
                  </tr>
                  <tr>
                    <td class="details_cell">
                      <h1 itemprop="name" style="float:left">{{ frontmatter.title }}</h1>
                      <div style="clear:both">
                        {{#if content.download_link}}
                          <a itemprop="downloadUrl" class="download" href="{{ content.download_link }}"></a>
                        {{/if}}
                        {{#if content.platform}}
                          <div>
                            Platform: <span itemprop="operatingSystem">{{ content.platform }}</span>
                          </div>
                        {{/if}}
                        {{#if content.link}}
                          <div class="link1">
                            Project url:
                            <a itemprop="url" href="{{ content.link }}">
                              {{ content.link }}
                            </a>
                          </div>
                        {{/if}}
                        {{#if content.description}}
                          <div class="details_content">
                            {{{ content.description }}}
                          </div>
                        {{/if}}
                      </div>
                      <!--#include virtual="../common/_entry-gallery.html" -->
                      <!--#include virtual="../common/_entry-attachments.html" -->
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--#include virtual="../common/_page_footer.html" -->

  </body>
</html>
