<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <title>Resume-{{capitalize this.frontmatter.params.resumeType}}</title>

    <script src="https://kit.fontawesome.com/cd808f9989.js" crossorigin="anonymous"></script>

    <style type="text/css">
      * { margin: 0; padding: 0; }
      body { font: 16px Helvetica, Sans-Serif; line-height: 24px; background: url(images/noise.jpg); }
      .clear { clear: both; }
      #page-wrap { width: 800px; margin: 40px auto 60px; }
      #pic { float: right; margin: -30px 0 0 0; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      h1 { margin: 0 0 16px 0; padding: 0 0 16px 0; font-size: 42px; font-weight: bold; letter-spacing: -2px; border-bottom: 1px solid #999; }
      h2 { font-size: 20px; margin: 0 0 1px 0; position: relative; }
      h3 { font-size: 18px; margin: 0 0 6px 0; position: relative; color: #999; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
      h3 span { position: absolute; bottom: 0; right: 0; font-style: italic; font-family: Georgia, Serif; font-size: 16px; color: #999; font-weight: normal; }
      p { margin: 0 0 16px 0; text-align: justify; }
      article p:nth-last-child(2) { margin-bottom: 6px }
      a { color: #999; text-decoration: none; border-bottom: 1px dotted #999; }
      a:hover { border-bottom-style: solid; color: black; }
      ul { margin: 0 0 32px 17px; }
      #objective { width: 500px; float: left; }
      #objective p { font-family: Georgia, Serif; font-style: italic; color: #666; }
      dt { font-style: italic; font-weight: bold; font-size: 18px; text-align: left; padding: 0; width: 115px; float: left; height: 100px;  }
      dd { width: 670px; float: right; border-left: 1px solid #999; padding-left: 8px; }
      dd.clear { float: none; margin: 0; height: 25px; border: 0px; }
      section { page-break-before: always }
      section article:last-child { padding-bottom: 0px; }
      article { page-break-inside: avoid; padding: 4px 6px 24px 6px; clear: both; }
      article.featured { background-color: #F0F0F0; }
      .folio { text-align: right; color: #999; font-family: monospace; font-size: 10px; width: 90%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; float: right;}
      .featured .folio a { color: #616161; }
      tr > td:first-child { text-align: center; padding-right: 4px; }
      /*@media print {
        h3 a[href*='//']:after {
          content:" (" attr(href) ") ";
        }
      }*/
      
    </style>
  </head>

  <body>
    <div id="page-wrap">
      <section>
        <img src="/assets/aboutme-me.jpg" alt="Photo of Darío Macchi" id="pic" />

        {{!--
        <div style="clear: both; float: right; margin-top: 18px; padding-right: 106px;">
          <!-- Right side floating content -->
        </div>
        --}}
    
        <div id="contact-info" class="vcard">
          <!-- Microformats! -->
          <h1 class="fn">Darío Macchi</h1>
          <table>
            <tr>
              <td>
                <i class="fas fa-mobile-alt"></i>
              </td>
              <td>
                <span class="tel">(598) 99259087</span><br />
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-envelope"></i>
              </td>
              <td>
                <a class="email" href="mailto:dariomac@gmail.com">dariomac@gmail.com</a><br />
              </td>
            </tr>
            <tr>
              <td>
                <i class="fab fa-twitter"></i>
              </td>
              <td>
                <a href="https://twitter.com/_dariomac">_dariomac</a><br />
              </td>
            </tr>
            <tr>
              <td>
                <i class="fab fa-linkedin"></i>
              </td>
              <td>
                <a href="https://www.linkedin.com/in/dariomac/">www.linkedin.com/in/dariomac/</ <a>
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-globe-americas"></i>
              </td>
              <td>
                <a href="https://dariomac.com">www.dariomac.com</ <a>
              </td>
            </tr>
          </table>
        </div>
                
        <div id="objective">
          <p>
            {{#with (resumeGrep laneContent.Me this.frontmatter.params.resumeType)}}
              {{#forEach this}}
                {{{highlighter this.content.content}}}
              {{/forEach}}
            {{/with}}
          </p>
        </div>
      </section>
      
      <div class="clear"></div>

      {{#with (resumeGrep laneContent.Experience this.frontmatter.params.resumeType)}}
      <section>
        <dl>
          <dt>Experience</dt>
          <dd>
          {{#forEach this}}
            <article {{#if (isFeatured this.frontmatter.resume.featured ../../this.frontmatter.params.resumeType) ~}}
              class="featured"
            {{/if~}}>
              <h2>{{this.frontmatter.card.content}}</h2>
              <h3>
                <a href="{{this.content.place_url}}">
                  {{buildResumePlace this.frontmatter.card.title this.content.place}}
                  {{#with this.frontmatter.card.leftbox}}
                    - {{this}}
                  {{/with}}
                </a>
              </h3>
              <p><strong>{{this.content.duration}}</strong></p>
              <p>{{{highlighter this.content.summary}}}</p>
              <p class="folio">
                <a href="https://dariomac.com{{this.frontmatter.card.linkto}}">
                  https://dariomac.com{{this.frontmatter.card.linkto}}
                </a>
              </p>
            </article>
          {{/forEach}}
          </dd>
          <dd class="clear"></dd>
        </dl>
      </section>
      {{/with}}

      {{#with (resumeGrep laneContent.Education this.frontmatter.params.resumeType)}}
      <section>
        <dl>
          <dt>Education</dt>
          <dd>
          {{#forEach this}}
            <article {{#if (isFeatured this.frontmatter.resume.featured ../../this.frontmatter.params.resumeType) ~}}
              class="featured"
            {{/if~}}>
              <h2>{{this.frontmatter.card.content}}</h2>
              <h3><a href="{{this.content.place_url}}">{{buildResumePlace this.frontmatter.card.title this.content.place}}</a></h3>
              <p>
                <strong>{{this.content.duration}}</strong>
                {{#if this.content.dictated_by}}
                  - Dictated by {{this.content.dictated_by}}
                {{/if}}
              </p>
              <p>{{{highlighter this.content.summary}}}</p>
              <p class="folio">
                <a href="https://dariomac.com{{this.frontmatter.card.linkto}}">
                  https://dariomac.com{{this.frontmatter.card.linkto}}
                </a>
              </p>
            </article>
          {{/forEach}}
          </dd>
          <dd class="clear"></dd>
        </dl>
      </section>
      {{/with}}

      {{#with (resumeGrep laneContent.Article this.frontmatter.params.resumeType)}}
      <section>
        <dl>
          <dt>Articles</dt>
          <dd>
          {{#forEach this}}
            <article {{#if (isFeatured this.frontmatter.resume.featured ../../this.frontmatter.params.resumeType) ~}}
              class="featured"
            {{/if~}}>
              <h2>{{this.frontmatter.title}}</h2>
              <p><i>{{this.content.publication_metadata}}</i></p>
              <p>{{{highlighter this.content.summary}}}</p>
              <p class="folio">
                <a href="https://dariomac.com{{this.frontmatter.card.linkto}}">
                  https://dariomac.com{{this.frontmatter.card.linkto}}
                </a>
              </p>
            </article>
          {{/forEach}}
          </dd>
          <dd class="clear"></dd>
        </dl>
      </section>
      {{/with}}

      {{#with (resumeGrep laneContent.Essay this.frontmatter.params.resumeType)}}
      <section>
        <dl>
          <dt>Essays</dt>
          <dd>
          {{#forEach this}}
            <article {{#if (isFeatured this.frontmatter.resume.featured ../../this.frontmatter.params.resumeType) ~}}
              class="featured"
            {{/if~}}>
              <h2>{{this.frontmatter.title}}</h2>
              <p>{{{highlighter this.content.summary}}}</p>
              <p class="folio">
                <a href="https://dariomac.com{{this.frontmatter.card.linkto}}">
                  https://dariomac.com{{this.frontmatter.card.linkto}}
                </a>
              </p>
            </article>
          {{/forEach}}
          </dd>
          <dd class="clear"></dd>
        </dl>
      </section>
      {{/with}}

      {{#with (resumeGrep laneContent.Project this.frontmatter.params.resumeType this.frontmatter.params.job)}}
      <section>
        <dl>
          <dt>Projects</dt>
          <dd>
          {{#forEach this}}
            <article {{#if (isFeatured this.frontmatter.resume.featured ../../this.frontmatter.params.resumeType) ~}}
              class="featured"
            {{/if~}}>
              <h2>{{this.frontmatter.title}}</h2>
              <p>{{{highlighter this.content.summary}}}</p>
              <p class="folio">
                <a href="https://dariomac.com{{this.frontmatter.card.linkto}}">
                  https://dariomac.com{{this.frontmatter.card.linkto}}
                </a>
              </p>
            </article>
          {{/forEach}}
          </dd>
          <dd class="clear"></dd>
        </dl>
      </section>
      {{/with}}
      
      {{#with (resumeGrep laneContent.Education 'language')}}
      <section>
        <dl>
          <dt>Languages</dt>
          <dd>
          {{#forEach this}}
            <article {{#if (isFeatured this.frontmatter.resume.featured ../../this.frontmatter.params.resumeType) ~}}
              class="featured"
            {{/if~}}>
              <h2>{{this.frontmatter.card.content}}</h2>
              <h3><a href="{{this.content.place_url}}">{{this.content.place}}</a></h3>
              <p><strong>{{this.content.duration}}</strong></p>
              <p>{{{highlighter this.content.summary}}}</p>
              <p class="folio">
                <a href="https://dariomac.com{{this.frontmatter.card.linkto}}">
                  https://dariomac.com{{this.frontmatter.card.linkto}}
                </a>
              </p>
            </article>
          {{/forEach}}
          </dd>
          <dd class="clear"></dd>
        </dl>
      </section>
      {{/with}}

      <div class="clear"></div>
    </div>
  </body>
  <section>
</html>
